@model System.Collections.Generic.List<WebApp.Models.Tenant>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>List of Tenants</title>
</head>
<body>
    <div>
        <ul>
            @foreach(var tenant in @Model)
            {
                <li>@tenant.Name</li>
                <l1>...@tenant.DomainName</l1>
            }
        </ul>

    </div>
</body>
</html>